<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket广播式</title>
</head>
<body>
    <div>
        <p id="response" style="background-color: aqua"></p>
    </div>

    <!-- 独立JS -->
    <script type="text/javascript" src="../static/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/websocket_broadcast.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/sockjs.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/stomp.min.js" charset="utf-8"></script>
</body>
</html>